
/***
UI Loading
***/
.loading-message {
    display: inline-block !important;
    min-width: 125px !important;
    margin-left: -60px !important;
    padding: 10px !important;
    margin: 0 auto !important;
    color: #000 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
}

    .loading-message.loading-message-boxed {
        z-index: 13000 !important;
        border: 1px solid #ddd !important;
        background-color: #eee !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        -ms-border-radius: 4px !important;
        -o-border-radius: 4px !important;
        border-radius: 4px !important;
        -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1) !important;
        -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1) !important;
    }

    .loading-message > span {
        line-height: 20px;
        vertical-align: middle;
    }

.page-loading {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 125px;
    margin-left: -60px;
    margin-top: -30px;
    padding: 7px;
    text-align: center;
    color: #333;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #eee;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

    .page-loading > span {
        line-height: 20px;
        vertical-align: middle;
    }

.page-spinner-bar {
    position: fixed;
    z-index: 10051;
    width: 100px;
    top: 40%;
    left: 50%;
    margin-left: -55px;
    text-align: center;
}

    .page-spinner-bar > div {
        margin: 0 5px;
        width: 18px;
        height: 18px;
        background: #eee;
        border-radius: 100% !important;
        display: inline-block;
        -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
        animation: bounceDelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .page-spinner-bar .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .page-spinner-bar .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

.block-spinner-bar {
    display: inline-block;
    width: 80px;
    text-align: center;
}

    .block-spinner-bar > div {
        margin: 0 2px;
        width: 15px;
        height: 15px;
        background: #eee;
        border-radius: 100% !important;
        display: inline-block;
        -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
        animation: bounceDelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .block-spinner-bar .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .block-spinner-bar .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

.SumoSelect {
    width: 100% !important;
}

.truncates {
    width: 75% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiselect__option--group {
    font-weight: bold !important;
    text-align: left !important;
    background: none !important;
    margin-left: 5px !important;
}


.multiselect__option--highlight {
    background: lightgray !important;
    outline: none !important;
    color: #000 !important;
}

.accountDropdown .multiselect__option {
    margin-left: 30px;
}


.multiselect__option--selected.multiselect__option--highlight {
    background: lightgray !important;
    color: #000 !important;
}

.multiselect, .multiselect__input, .multiselect__single {
    font-size: 15px !important;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    -ms-transition: opacity 2s ease !important;
    -o-transition: opacity 2s ease !important;
    -webkit-transition: opacity 2s ease !important;
    transition: opacity 2s ease !important;
}
/*Po Css*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.dropdownpo .multiselect {
    display: table-row !important;
}

/*.dropdownpo .multiselect__content-wrapper {
    max-width: 200px !important;
    min-width: 200px !important;
}*/


.dropdownpo .multiselect__select:before {
    content: none !important;
}

.dropdownpo .emptySelect .multiselect__content-wrapper {
    max-height: 300px !important;
}

.dropdownpo .multiselect__tags {
    border: none !important;
    padding: 10px 10px 10px 0 !important;
}

.multiselect--above .multiselect__content-wrapper {
    bottom: auto !important;
}

_:-ms-fullscreen, :root .marginbtn {
    margin-bottom: 30px !important;
}
/*Add Item List.vue*/

.tbl-hover tbody tr:hover {
    border: 2px solid lightgray !important;
}

@media only screen and (min-width: 1250px) {
    .table-responsive {
        overflow: unset !important;
    }
}

.dropdownpo .multiselect__placeholder {
    width: 100% !important;
    height: 100% !important;
}

.textareaauto {
    outline: azure !important;
    width: 280px !important;
    border: none !important;
    font-size: 15px !important;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
    color: #66615b !important;
    padding: 5px 10px 0px 10px !important;
}

.itemtable table td {
    padding: 0 !important;
    margin: 0 !important;
}

.itemtable tbody tr td {
    height: 10px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
}

.itemtable .itemdata,
.itemtable .itemdata .removeBorder, .itemtable .itemdata {
    border-radius: 0px !important;
    border: 0px !important;
    height: 100% !important;
}

.finishDownArrow .dropdownpo .multiselect__select {
    width: 0px !important;
    height: 0px !important;
}

.itemtable .btn {
    margin: 10px !important;
}

.quantity input {
    text-align: right !important;
}
/* Item Dropdown */
.emptySelect .multiselect__content li:nth-last-child(2) {
    display: block !important;
}

.emptySelect .multiselect__content li:last-child {
    display: none !important;
}
/*Content Dropdown*/
.empty .multiselect__content li:nth-last-child(2) {
    display: block !important;
}

.empty .multiselect__content li:last-child {
    display: none !important;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}
/*AttachmentModel*/
.swal2-container.swal2-shown {
    z-index: 9999 !important;
}

#dropzone:hover {
    opacity: 0.5 !important;
    text-shadow: 1px 1px 2px #000 !important;
    background: #ccc !important;
}

.swal2-container.swal2-shown {
    z-index: 9999;
}

/*Amjad Custom css form table responsive*/
.tbl-div-overflow {
    overflow-y: auto;
}
/* Custom scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px lightgray;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.tbl-height-overflow {
    min-height: 100%;
    overflow: initial;
}

.tbl-lyout {
    table-layout: fixed;
}

.inpcss {
    border: 0px;
    height: 40px;
    width: -webkit-fill-available;
}

.inputcss1 {
    border: 0px;
    height: 30px;
    width: -webkit-fill-available;
}

.inpcss:focus {
    outline: none;
}

.inputcss1:focus {
    outline: none;
}

.dropdownprice .multiselect__tags {
    border: none !important;
    padding: 10px 10px 10px 10px !important;
}

.dropdownprice .multiselect__select {
    display: none;
}

.datepkrborderless {
    border: none;
}

.batchvno {
    background-color: transparent;
}

.dropdownAccountcss .multiselect__select {
    display: none !important;
}

.dropdownAccountcss .multiselect__tags {
    border: none !important;
}

.dropdownAccountcss .multiselect__tags {
    border: none !important;
}

.dropdownDatecss .el-input__inner {
    border: none !important;
}


.inpcssdebit {
    border: none;
    height: 40px;
    width: -webkit-fill-available;
}

    .inpcssdebit:focus {
        outline: none;
    }

.inpcssDebitjv {
    border: none;
    width: 100% !important;
    height: 50px;
}

    .inpcssDebitjv:focus {
        outline: none !important;
    }

.el-date-editor .el-range-separator {
    width: 30px !important;
}


.accountDropdown .multiselect__clear {
    position: initial !important;
    float: right !important;
    text-align: right !important;
    margin: 10px 38px 10px 10px !important;
}

.accountDropdown .multiselect__strong {
    font-weight: 500 !important;
}

.accountDropdown .multiselect__tag {
    background: lightgray !important;
    margin-right: 4px !important;
    max-width: 100px !important;
    display: block !important;
    float: left !important;
}

.accountDropdown .multiselect__option input {
    float: left !important;
    margin-right: 10px !important;
    margin-top: 2px !important;
}

.accountDropdown .beforeList {
    margin: 10px 0px -15px 15px !important;
}

.accountDropdown .multiselection .multiselect__option--selected {
    font-weight: 400 !important;
}

.accountDropdown .beforeList input {
    float: left !important;
    margin: 4px 30px 5px 0px !important;
}
.dasboardli {
    background-color: darkcyan;
}
.disctblcss tbody tr td{
    padding-bottom: 5px;
    padding-top: 5px;
}


.quick-link-panel-width {
    width: 600px;
}

.top-quick-link ul {
    margin-bottom: 20px;
    margin-top: 20px;
}

.top-quick-link ul li {
    vertical-align: top;
    padding-left: 15px;
}

.header-quick-link-li {
    margin-bottom: 25px !important;
}

.header-quick-link li {
    margin-bottom: 10px;
}

.header-quick-link li a {
    font-size: 13px !important;
    text-decoration: none;
}

.header-quick-link li a:hover {
    color: #51cbce !important;
}
.dropup .dropdown-toggle:after, .dropdown .dropdown-toggle:after {
    display: none !important;
}
/*.sidebar:hover .logo-image-small {
    display: none;
}*/
.LabelColour {
    color: #C70039;
    font-size: 15px;
}
.date-border-none .el-input__inner {
    border: none !important
}



